<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automatisation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Automatisation.Properties.Settings>
            <setting name="IP_AGILENT" serializeAs="String">
                <value>192.168.2.200</value>
            </setting>
            <setting name="IP_TEKTRONIX" serializeAs="String">
                <value>192.168.2.210</value>
            </setting>
            <setting name="IP_IPERF_CLIENT" serializeAs="String">
                <value>192.168.2.50</value>
            </setting>
            <setting name="IPERFCLIENTUSER" serializeAs="String">
                <value>rik</value>
            </setting>
            <setting name="IPERFCLIENTPASS" serializeAs="String">
                <value>rik</value>
            </setting>
            <setting name="IPERFCLIENTPORT" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="IP_IPERF_SERVER" serializeAs="String">
                <value>192.168.2.60</value>
            </setting>
            <setting name="IPERFSERVERUSER" serializeAs="String">
                <value>rik</value>
            </setting>
            <setting name="IPERFSERVERPASS" serializeAs="String">
                <value>rik</value>
            </setting>
            <setting name="IPERFSERVERPORT" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="IP_FILESERVER" serializeAs="String">
                <value>192.168.2.5</value>
            </setting>
            <setting name="FILESERVERUSER" serializeAs="String">
                <value>xavier</value>
            </setting>
            <setting name="FILESERVERPASS" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="FILESERVERPORT" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="IP_DATABASE" serializeAs="String">
                <value>192.168.2.5</value>
            </setting>
            <setting name="MYSQL_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MYSQL_PASS" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="MYSQL_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="AGILENT_TIMEOUT" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NLOG_LOGFILE_LOCATION" serializeAs="String">
                <value>C:\</value>
            </setting>
        </Automatisation.Properties.Settings>
    </userSettings>
</configuration>